<ion-content padding>
  <img id='image' src='../../assets/imgs/logo.png'/>
  <p id='title'>VsaApp</p>
  <ion-item color='transparent'>
    <ion-label>Klasse</ion-label>
    <ion-select [(ngModel)]='grade' color='transparent' id='grade-select'>
      <ion-option *ngFor='let grade of grades' [value]='grade' id='grade-option'>{{grade}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]='username' placeholder='Benutzername'></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]='password' placeholder='Password' type='password'></ion-input>
  </ion-item>
  <p *ngIf='wrong' id='wrongValues'>{{information}}</p>
  <button (click)='login()' id='login-button'>Login</button>
</ion-content>
