page-vp {
  .label {
    margin: 5px;
    padding: 0;
  }

  .vp-meta {
    text-align: center;
    margin: 0 0 5px;
  }

  .content-ios * .vp-meta {
    margin-top: 10px;
  }

  #vp-date {
    margin-bottom: 15px;
  }

  #vp-row {
    margin-bottom: 5px;
  }

  ion-item-divider {
    padding-top: 15px;
  }
}


