<ion-content (swipe)='swipe($event)' padding>
  <p class='vp-meta'>{{'vp_vp_for' | translate}}<b>{{meta.weekday}}</b>{{'vp_the' | translate}}<b>{{meta.date}}</b></p>
  <p class='vp-meta' id='vp-date'>{{'vp_last_updated_at' | translate}}<b>{{meta.update}}</b>{{'vp_at' | translate}}
    <b>{{meta.time}}</b></p>
  <ion-grid>
    <ion-row *ngFor='let unit of objectKeys(items)' id='vp-unit-block'>
      <ion-col col-1 id='vp-row-unit'>{{unit}}</ion-col>
      <ion-col col-11>
        <change (click)='vpRowClicked(item)' *ngFor='let item of items[unit]' [item]='item'></change>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
