<ion-content padding>
  <p class='vp-meta'>Vertretungsplan für <b>{{meta.weekday}}</b>, den <b>{{meta.date}}</b></p>
  <p class='vp-meta'>Zu letzt aktualisiert am <b>{{meta.update}}</b> um <b>{{meta.time}}</b></p>
  <ion-list (swipe)='swipe($event)' id='vp-list'>
    <div *ngFor='let unit of objectKeys(items)' id='vp-unit-block'>
      <b id='vp-row-unit'>{{unit}}</b>
      <div>
        <button (click)='vpRowClicked($event, item)' *ngFor='let item of items[unit]'
                [class.color-green]="item.color === 'green'" [class.color-orange]="item.color === 'orange'"
                [class.color-red]="item.color === 'red'"
                id='vp-row'
                ion-item>
          <div id='vp-row-block-item'>
            <div id='vp-row-block-left'>
              <b id='vp-row-lesson'>{{item.lesson}}</b>
              <b id='vp-row-changed-info'>{{item.changed.info}}</b>
            </div>
            <div id='vp-row-block-center'>
              <p id='vp-row-room'>{{item.room}}</p>
              <b id='vp-row-changed-room'>{{item.changed.room}}</b>
            </div>
            <div id='vp-row-block-right'>
              <p id='vp-row-teacher'>{{item.teacher}}</p>
              <b id='vp-row-changed-teacher'>{{item.changed.teacher}}</b>
            </div>
          </div>
        </button>
      </div>
    </div>
  </ion-list>

</ion-content>
