<ion-content (swipe)='swipe($event)' padding>
  <ion-list id='sp-list'>
    <div *ngFor='let item of items; index as i'>
      <lesson (click)='spRowClicked(i)' *ngIf='item.ready' [lesson]='item.lessons[item.selected]'
              class='sp-row'>
      </lesson>
      <div style='margin-left: 10%;'>
        <ng-container *ngFor='let lesson of item.lessons; index as j'>
          <lesson (click)='spSelectRowClicked(i, j)' *ngIf='item.ready && item.showSelect && j !== item.selected'
                  [lesson]='lesson'
                  class='sp-select-row'>
          </lesson>
        </ng-container>
      </div>
    </div>
  </ion-list>
</ion-content>
