<ion-content (swipe)='swipe($event)' padding>
  <ion-list id='sp-list'>
    <div *ngFor='let item of items; index as i'>
      <lesson (click)='spRowClicked(i)' *ngIf='item.ready' [lesson]='item.lessons[item.selected]'
              class='sp-row'>
      </lesson>
      <div class='section'
           [class.collapsed]='!(item.ready && item.showSelect && j !== item.selected)'
           [class.collapsible]='item.ready && item.showSelect && j !== item.selected'
           style='margin-left: 10%;'
            *ngIf='item.lessons[0].unit !== 6'>
        <ng-container *ngFor='let lesson of item.lessons; index as j'>
          <lesson (click)='spSelectRowClicked(i, j)'
                  [lesson]='lesson'
                  [subitem]="true"
                  class='sp-select-row'>
          </lesson>
        </ng-container>
      </div>
    </div>
  </ion-list>
</ion-content>
