#sp-list {
  padding: 0;
  margin: 0;
}

#sp-row {
  padding-left: 0;
  padding-right: 0;
}

#sp-row-unit {
  padding-right: 1em;
  float: left;
  height: 100%;
  color: #000;
}

#sp-row-teacher {
  text-align: right;
  color: #000;
}

#sp-row-room {
  text-align: right;
}

#sp-row-lesson {
  color: color($colors, primary);
}

#sp-row-block-left {
  float: left;
  padding: 0;
  margin: 0;
}

#sp-row-block-right {
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
}

#sp-row .item-inner {
  background: none !important;
  padding-right: 0;
}
