// http://ionicframework.com/docs/theming/

[color='light'] {
  color: white;
}

[color='app'] {
  background-color: #67a744;
  color: #fff;
}

.tabs .tabbar {
  max-height: 45px;
  background-color: #67a744;
}

.tabs-md .tab-button {
  color: #fff !important;
}

.tabs-md .tab-button[aria-selected=true] {
  color: #32db64 !important;
}

p, b {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

#menu-icon {
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  height: auto;
}

#menu-title {
  width: 100%;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 120%;
}

#menu-grade {
  width: 100%;
  color: #c5c5c5;
  text-align: center;
  padding-top: 2px;
  margin-top: 2px;
}

.scroll-content {
  overflow-y: auto;
}

ion-title {
  color: #fff;
}

.toolbar-background {
  background-color: #67a744;
}
